<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Admin</a>
        <ul class="nav">
            {% for item in app['admingen.menu'] %}
            <li><a href="{{ context_path(item.name ~ '_admingen_list') }}">{{ item.name | trans }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
