<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Admin</a>
        <ul class="nav">
            {% for item in app['admingen.menu'].items %}
            <li><a href="{{ context_path(item.route, item.parameters) }}">{{ item.title | trans }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
